*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #2f363e;
    overflow: hidden;
}
.menu{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:500px;
}
.toggle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    z-index: 100;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    background-color: #2f363e;
    cursor: pointer;
    font-size: 3em;
}
.menu li{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    list-style: none;
    transition: .5s;
}
.menu li a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height:80px;
    border: 4px solid var(--clr);
    padding: 15px;
    border-radius: 50%;
    font-size:2.6em ;
    color:var(--clr);
    transition: .5s;
}
.active li{
    transform: rotate(calc(360deg / 8 * var(--i)));
}
.active li a{
    transform: translate(-150px) rotate(calc(360deg / -8 * var(--i)));
}