*{
    margin:0;
    padding:0;
}

.container{
    width:100%;
    height:100vh;
    display:flex;
}

.container div{
    display: flex;
    justify-content:center;
    align-items: center;
}

.zilla{
    width:50%;
    height: 100vh;
    background-image:url("img/zilla.jpg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: auto 100%;
    background-color: red;
}

.kong{
    width:50%;
    height: 100vh;
    background-image:url("img/kong.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: auto 100%;
    background-color: red;
}

.active{
    transition: 1s;
    width:70%;
}
.noActive{
    transition: 1s;
    filter: grayscale(60%);
    width:30%;
}

.text{
    color: white;
    padding: 20px 50px; 
    cursor: pointer;
    border: 4px solid white;
}

.text:hover{
    background-color: var(--color);
    border: var(--color);
}
